includes:
    - vendor/micaherne/phpstan-moodle/extension.neon

parameters:
    level: 0
    paths:
        - ../moodle/blocks/panopto/classes/local/course_visibility_config.php
        - ../moodle/blocks/panopto/classes/local/course_visibility_policy.php
        - ../moodle/blocks/panopto/classes/rollingsync.php
        - ../moodle/blocks/panopto/lib/panopto_data.php
        - ../moodle/blocks/panopto/settings.php
        - ../moodle/blocks/panopto/db/events.php
        - ../moodle/blocks/panopto/db/upgrade.php
    moodle:
        rootDirectory: ../moodle
        addCommonIncludes: true
